/* utility */
.bg-color1{
    background-color: #2c3e50;
}
.bg-color2{
    background-color: #1abc9c;
}
.bg-color3{
    background-color: #ba4b63;
}
.bg-color4{
    background-color: #1c83c1;
}
.bg-color5{
    background-color: #0e38b5;
}
.bg-color6{
    background-color: #ccb2a3;
}
.bg-color7{
    background-color: #3a546d;
}
.bg-color8{
    background-color: #e05a49;
}
.bg-color9{
    background-color: #e27b3e;
}
.bg-color10{
    background-color: #ecf0f0;
}
.bg-color11{
    background-color: black;
}
.bg-color12{
    background-color: #efc74a;
}
.bg-color13{
    background-color: #1ea4b6;
}
.color-white{
    color: white;
}
.color-blue{
    color:#2c3e50;
}
.text-center{
    text-align: center;
}

.font-size-l{
    font-size: 36px;
}
.font-size-m{
    font-size: 30px;
}
.font-size-s{
    font-size: 24px;
}
.font-size-xs{
    font-size: 20px;
}
.font-size-xxs{
    font-size: 18px;
}
.font-weight-bold{
    font-weight: bold;
}
.padding20{
    padding: 20px 0;
}
p{
    font-weight: bold;
}
body{
    position: relative;
}



/* header */

header.top .container1{
    position: fixed;
    z-index: 100;
    width: 100%;
}
.navbar {
    position: relative;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 0;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom:15px;
    padding-left: 0;
    padding-right: 0;
}

.nav>li>a{
    padding-right:0;
    padding-left: 20px;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover  {
    color: #1abc9c;
}
.container-fluid {
    padding-right: 0px; 
    padding-left: 0px; 
}
.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
    margin-right: 0px;
    margin-left: 0px;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color:white;
    transition: color .5s;
}


/* header-bottom */
header.bottom{
    padding-top: 70px;
}

.line1,
.line2{
    display: inline-block;
    height: 4px;
    width: 40%;
    background-color: white;
    border-radius: 3px;
    position: absolute;
}
.line1{
    left:0;
    top:50%;
    transform: translateY(-50%);
}
.line2{
    right:0;
    top:50%;
    transform: translateY(-50%);
}
.container-star{
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.avatar{
    margin-top: 20px;
}
/* portfolio */

.cella img{
    width: 100%;
    margin-bottom: 30px;
    
}
.cella:hover{
    filter:grayscale(80%);

}
.cella{
    position: relative;
    vertical-align: middle;
    color:white;
    transition: filter 1s;
    
    
}
.cella::after{
    font-size: 200px;
    position: absolute;
    content: "\002B";
    line-height: 100%;
    display:block;
    opacity: 0;
    padding:15px;
    top:45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 0 0 7px black;
    transition: opacity 1s;
}
.cella:hover::after{
    opacity: 1;
}

.portfolio .line1,
.portfolio .line2,
.contact-me .line1,
.contact-me .line2{
    background-color: #2c3e50;
}
.portfolio h2{
    margin-top: 40px;
}
.portfolio .container-star{
    margin-bottom: 20px;
}

/* about */
.btn-default {
    color:white;
    background-color: #1abc9c;
    border-color: white;
    font-weight:bold;
    transition: color 0.5s;
}
.about .colonna{
text-align: left;
}
.btn-default:focus, 
.btn-default:active, 
.btn-default:hover,
.btn-default.active.focus, 
.btn-default.active:focus, 
.btn-default.active:hover,
.btn-default:active.focus, 
.btn-default:active:focus, 
.btn-default:active:hover, 
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus, 
.open>.dropdown-toggle.btn-default:hover {
    color: #1abc9c;
    background-color: white;
    border-color: white;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #1abc9c;;
}

.navbar-default .navbar-toggle {
    border-color:white;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
/* contact-me */
form{
    margin-top: 20px;
}
.form-group {
    margin-bottom: 0px;
}
.form-control {
    height: 60px;
    padding: 6px 0;
    font-size: 18px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #fff;
    background-image: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
form{
    text-align: left;
}

form .btn-default {
    color:white;
    background-color: #1abc9c;
    border-color: #1abc9c;
    font-weight:bold;
    margin:20px 0 40px;
    transition: background-color 0.5s;
}
form .btn-default:focus, 
form .btn-default:active, 
form .btn-default:hover,
form .btn-default.active.focus, 
form .btn-default.active:focus, 
form .btn-default.active:hover,
form .btn-default:active.focus, 
form .btn-default:active:focus, 
form .btn-default:active:hover, 
form .open>.dropdown-toggle.btn-default.focus,
form .open>.dropdown-toggle.btn-default:focus, 
form .open>.dropdown-toggle.btn-default:hover {
    color: #1abc9c;
    background-color: white;
    border-color: #1abc9c;
}
/* location */

.location .row div{
    margin:20px 0;
}
ul { 
    padding-inline-start: 0px;
    
}


/* footer */










